body, h1, h2, h3, p, ul, li {
    padding: 0%;
    margin: 0%;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: yellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
  
.header img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.menu {
    position: relative;
}

.menuItems {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: visibility 0s, opacity 0.3s, transform 0.3s;
  }
  
.menu.open .menuItems {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.videoPlayerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.videoPlayer {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.videoCustomControls {
    display: flex;
    align-items: grid;
}